/*CSS RESET*/
*{
    padding: 0px;
    margin: 0px;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    background-color: rgba(223, 247, 255, 0.664);
    font-family: 'Poppins', sans-serif;
}

/*NAVIGATION BAR*/
#navbar{
    display: flex;
    flex-direction: row;  
    position: sticky;
    top:0px;
    left:0px;
    padding: 15px;
}

#navbar ul{
    display: flex;
    flex-direction: row;
}
#navbar ul li a {
    padding:5px 8px;
    margin:5px 15px;
    font-size: 2rem;
    font-family: 'Work Sans', sans-serif;
    color:rgb(0, 0, 0);
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 0.7s;
}

#navbar ul li a:hover{
    text-decoration-color: rgb(255, 0, 0);
}

#welcome-section::before{
    content: "";
    background: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    width:100vw;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    background-position: center center;
    background-repeat: no repeat;
    background-size: cover;
    z-index:-1;
    opacity: 0.7;
}

/*Welcome Seciton*/
#welcome-section{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    top: 500px;
    align-items: center;
    font-size: 4.9rem;
    margin-top: 100px;
    flex-wrap: nowrap;
    align-content: stretch;
}

/*Projects Section*/
.container{
    display: flex;
    flex-wrap: wrap;
}

.project-img{
    margin: 16px;
    padding: 39px;
    height: 478px;
    width: 520px;
    margin-bottom: -30px;
}

#projects{
    margin-top: -180px;
    background-color: #45567d;
    background-size: auto 100%;
    background-position: center center;
}

.project-tile a{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    background-color: #009688;
    padding: 19px 44px;
    margin: 14px 54px;
}

/*CONTACTS SECTION BEGINS FROM HERE*/
#contacts{
    color:white;
    background-color: #303841;
    height: 100vh;
    width:100%vw;
}
#discussiontext{
    font-size: 6rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    text-align: center;
    padding: 5px auto;
    padding: 140px;
    margin: 0px 72px;
}

#discussiontext em{
    font-family: 'Raleway', sans-serif;
    font-size:2.0rem;
}

.profiles{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Work Sans', sans-serif;
    
    
}
.profiles a{
    padding: 10px 10px;
    margin: 0px 100px;
    color: white;
    transition: all 0.5s ease;
}
.sociallink{
    display: inline-block;
}

.sociallink:hover{
    transform:translateY(+9px);
    
}

/*UTILITY CLASSES*/
a{
    text-decoration: none;
    color:black;
}

li{
    list-style: none;
}

#specialtext{
    color:blueviolet;
}

#specialoccupation{
    margin-top: 27px;
    font-family: 'Raleway', sans-serif;
    margin-left: -328px;
    font-style: italic;
}

#myprojects{
    padding-top:100px;
    margin:10px 0px;
    text-align: center;
    font-size: 3.9rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
}

#copyright{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2rem;
}

/*Media Query*/

@media only screen and (max-width:1261px) {

    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}

@media only screen and (max-width:1119px) {

    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profiles{
        flex-direction: column; 
        justify-content:space-evenly;
        align-items:center;
    }

    #discussiontext{
        font-size: 4rem;
        font-family: 'Work Sans', sans-serif;
        font-weight: bolder;
        text-align: center;
        padding: 5px auto;
        padding: 100px;
        margin: 0px 72px;
    }

    .project-img{
        margin: 10px;
        padding: 20px;
        height: 278px;
        width: 320px;
        margin-bottom: -30px;
    }

    .project-tile a{
        margin:14px -80px;
    }

    
}

@media only screen and (max-width:684px) {
    #specialoccupation{
        margin-top: 27px;
        font-family: 'Raleway', sans-serif;
        margin-left: 15px;
        font-style: italic;
    }

    
    
}